    <header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html"><i class="icon-airplane"></i>Travel</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
              <li{{#if (isActive @root.data.pages.home this) }} class="active"{{/if }}>
                <a href="/">Home</a>
              </li>
              <li{{#if (isActive @root.data.pages.rooms this) }} class="active"{{/if }}>
                {{{ pgLink @root.data.pages.rooms @root.locale }}}
              </li>
              <li{{#if (isActive @root.data.pages.prices this) }} class="active"{{/if }}>
                {{{ pgLink @root.data.pages.prices @root.locale }}}
              </li>
              <li{{#if (isActive @root.data.pages.contacts this) }} class="active"{{/if }}>
                {{{ pgLink @root.data.pages.contacts @root.locale }}}
              </li>
              <li><a href="{{ pgUrl . "it" }}">it</a></li>
              <li><a href="{{ pgUrl . "en" }}">en</a></li>
            </ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- end:header-top -->

