			<!-- Header -->
				<header id="header" class="alt">
          <h1 id="logo">
            <a href="/{{ @root.locale }}">
              <!--<img src="images/logo.png" alt=">{{ lookup data.site.title @root.locale }}" />-->
              {{ lookup @root.data.site.title @root.locale }}
            </a>
          </h1>
					<nav id="nav">
						<ul>
              <li><a href="/{{ @root.locale }}">Home</a></li>
              <li{{#if (isActive @root.data.pages.rooms this) }} class="current"{{/if }}>
                {{{ pgLink @root.data.pages.rooms @root.locale }}}
              </li>
              <li{{#if (isActive @root.data.pages.prices this) }} class="current"{{/if }}>
                {{{ pgLink @root.data.pages.prices @root.locale }}}
              </li>
              <li{{#if (isActive @root.data.pages.contacts this) }} class="current"{{/if }}>
                {{{ pgLink @root.data.pages.contacts @root.locale }}}
              </li>
              <li><a href="{{ pgUrl this "it" }}">it</a></li>
              <li><a href="{{ pgUrl this "en" }}">en</a></li>
						</ul>
					</nav>
				</header>

