		<div id="fh5co-contact" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3>{{ lookup data.pages.contacts.title @root.locale }}</h3>
            <p>{{ lookup data.pages.contacts.summary @root.locale }}</p>
					</div>
				</div>
				<form action="#">
					<div class="row animate-box">
						<div class="col-md-6">
            <!--
              <h3 class="section-title">Our Address</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            -->
              <ul class="contact-info">
                <li>
                  <i class="icon-location-pin"></i>
                  {{#each (br2array @root.data.site.contacts.address.[1].address_data) }}
                    {{ this }}<br/>
                  {{/each }}
                </li>
                <li><i class="icon-phone2"></i>{{ data.site.contacts.phone_work }}</li>
                <li><i class="icon-phone"></i>{{ data.site.contacts.phone_mobile }}</li>
                <li><i class="icon-whatsapp"></i>{{ data.site.contacts.whatsapp }}</li>
								<li><i class="icon-mail"></i><a href="{{ data.site.contacts.email }}">{{ data.site.contacts.email }}</a></li>
								<li><i class="icon-globe2"></i><a href="{{ data.site.contacts.site }}" target="_blank">{{ data.site.contacts.site }}</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ lookup data.t.name.value @root.locale }}">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="{{ lookup data.t.email.value @root.locale }}">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="{{ lookup data.t.message.value @root.locale }}"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="{{ lookup data.t.send_message.value @root.locale }}" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

