
		<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 heading-section animate-box">
            <h3 class="text-center">{{ lookup data.pages.rooms.title @root.locale }}</h3>
					</div>
				</div>

				<div class="row row-bottom-padded-md">
					<div class="col-md-6 animate-box">
						<div class="row">
							<div class="col-md-12">
                <h4>{{ lookup data.pages.rooms.summary @root.locale }}</h4>
                <div>{{{ lookup data.pages.rooms.body @root.locale }}}</div>
							</div>
						</div>
          </div>
					<div class="col-md-6 animate-box">
            <img class="img-responsive" src="{{ @root.data.pages.rooms.image.formats.large.url }}" alt="{{ lookup @root.data.pages.rooms.title @root.locale }}">
          </div>
        </div>

				<div class="row row-bottom-padded-md">
          {{#each data.pages.rooms.images }}
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
              <a href="images/place-1.jpg" class="fh5co-card-item image-popup">
                <figure>
                  <div class="overlay"><i class="ti-plus"></i></div>
                  <img src="images/place-1.jpg" alt="Image" class="img-responsive">
                </figure>
              </a>
              <!--
              <div href="#"><img src="images/place-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <div class="desc">
                  <span></span>
                  <h3>New York</h3>
                  <span>3 nights</span>
                  <span class="price">$1,100</span>
                  <a class="btn btn-primary btn-outline" href="#">Book Now <i class="icon-arrow-right22"></i></a>
                </div>
              </div>
              -->
            </div>
          {{/each }}
          <!--
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="images/place-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Hongkong</h3>
								<span>2 nights</span>
								<span class="price">$1,000</span>
								<a class="btn btn-primary btn-outline" href="#">Book Now <i class="icon-arrow-right22"></i></a>
							</div>
						</div>
          </div>
          -->
				</div>
      </div>
    </div>
